*{
	margin:auto;
	padding:auto;
}

.navbar {
    width: 100%;
    background-color: #4CAF50;
    padding: 8px 0;
    position: fixed; /* Fixes the navbar to the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the navbar is always on top */
    text-align: center;
}

nav {
    display: inline-block;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
    display: inline-block;
    font-size: 18px;
}

nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}


.middle{
	width:100%;
	border-bottom:2px solid #f0f0f0;
}
.middle div{
	width:1200px;
	height:400px;
	font-family:calibri;
}
.middle div p{
	width:1000px;
	font-weight:bold;
	height:300px;
	color:#fff;
	opacity:0.7;
	font-size:50px;
	background-color:#000;
}

.bottom{
	width:100%;
	background-color:white;
	border-bottom:2px solid #f0f0f0;
}
.bottom div{
	width:1200px;
	color:#fff;
	background-color:white;
	font-family:calibri;
	text-align:right;
}
.bottom div table{
	padding-top:30px;
	width:1100px;
	text-align:justify;
	color:gray;
	font-size:20px;
}

.bottom_up{
	width:100%;
	background-color:white;
	border-bottom:2px solid #f0f0f0;
}
.bottom_up div{
	padding-top:20px;
	width:1200px;
	text-align:center;
	background-color:white;
	font-family:forte;
	font-size:30px;
	padding-bottom:20px;
}
.bottom_up div table{
	padding-top:30px;
	font-size:30px;
	width:1100px;
	text-align:center;
	background-color:white;
	font-family:calibri;
	
}

input[type="text"]{
	padding:12px;
	width:250px;
}
select{
	padding:12px;
	width:250px;
}
textarea{
	padding:50px;
	width:550px;
}
button{
	width:550px;
	padding:10px;
	color:#fff;
	font-size:20px;
	background-color:#2FA5EB !important;
}


.nav_down{
	width:100%;
	background-color:#4CAF50 !important;
	border-bottom:2px solid #f0f0f0;
}
.nav_down div{
	width:1200px;
	color:#fff;
	background-color:#000;
	font-family:calibri;
	padding:10px;
	text-align:left;
}
